<a href="https://colab.research.google.com/github/Pronow05/NL2SQL-LangChain/blob/main/llm_prompt_engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Postgresql DB Setup

In [1]:
!apt-get update

Get:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease [1,581 B]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,632 B]
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:4 https://r2u.stat.illinois.edu/ubuntu jammy InRelease [6,555 B]
Get:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  Packages [1,312 kB]
Hit:6 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:7 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:8 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,655 kB]
Get:9 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease [18.1 kB]
Hit:10 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:11 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [2,609 kB]
Hit:12 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:13 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,673 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [127 kB]
Get:15 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 Packages [34.0 kB]
Get:16 http://security.ubuntu.com/ubuntu jammy-security/restricted amd64 Packages [3,612 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,526 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,911 kB]
Fetched 23.7 MB in 3s (7,779 kB/s)
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)

In [2]:
!apt-get install -y postgresql postgresql-contrib

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  libcommon-sense-perl libjson-perl libjson-xs-perl libtypes-serialiser-perl logrotate netbase
  postgresql-14 postgresql-client-14 postgresql-client-common postgresql-common ssl-cert sysstat
Suggested packages:
  bsd-mailx | mailx postgresql-doc postgresql-doc-14 isag
The following NEW packages will be installed:
  libcommon-sense-perl libjson-perl libjson-xs-perl libtypes-serialiser-perl logrotate netbase
  postgresql postgresql-14 postgresql-client-14 postgresql-client-common postgresql-common
  postgresql-contrib ssl-cert sysstat
0 upgraded, 14 newly installed, 0 to remove and 21 not upgraded.
Need to get 18.4 MB of archives.
After this operation, 51.7 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 logrotate amd64 3.19.0-1ubuntu1.1 [54.3 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy/main amd64 netbase all 6.3 [12.9 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libcommon-sense-perl amd64 3.75-2build1 [21.1 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy/main amd64 libjson-perl all 4.04000-1 [81.8 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy/main amd64 libtypes-serialiser-perl all 1.01-1 [11.6 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy/main amd64 libjson-xs-perl amd64 4.030-1build3 [87.2 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-client-common all 238 [29.6 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 postgresql-client-14 amd64 14.15-0ubuntu0.22.04.1 [1,225 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 ssl-cert all 1.1.2 [17.4 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-common all 238 [169 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 postgresql-14 amd64 14.15-0ubuntu0.22.04.1 [16.2 MB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql all 14+238 [3,288 B]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 postgresql-contrib all 14+238 [3,292 B]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 sysstat amd64 12.5.2-2ubuntu0.2 [487 kB]
Fetched 18.4 MB in 1s (15.1 MB/s)
Preconfiguring packages ...
Selecting previously unselected package logrotate.
(Reading database ... 124926 files and directories currently installed.)
Preparing to unpack .../00-logrotate_3.19.0-1ubuntu1.1_amd64.deb ...
Unpacking logrotate (3.19.0-1ubuntu1.1) ...
Selecting previously unselected package netbase.
Preparing to unpack .../01-netbase_6.3_all.deb ...
Unpacking netbase (6.3) ...
Selecting previously unselected package libcommon-sense-perl:amd64.
Preparing to unpack .../02-libcommon-sense-perl_3.75-2build1_amd64.deb ...
Unpacking libcommon-sense-perl:amd64 (3.75-2build1) ...
Selecting previously unselected package libjson-perl.
Preparing to unpack .../03-libjson-perl_4.04000-1_all.deb ...
Unpacking libjson-perl (4.04000-1) ...
Selecting previously unselected package libtypes-serialiser-perl.
Preparing to unpack .../04-libtypes-serialiser-perl_1.01-1_all.deb ...
Unpacking libtypes-serialiser-perl (1.01-1) ...
Selecting previously unselected package libjson-xs-perl.
Preparing to unpack .../05-libjson-xs-perl_4.030-1build3_amd64.deb ...
Unpacking libjson-xs-perl (4.030-1build3) ...
Selecting previously unselected package postgresql-client-common.
Preparing to unpack .../06-postgresql-client-common_238_all.deb ...
Unpacking postgresql-client-common (238) ...
Selecting previously unselected package postgresql-client-14.
Preparing to unpack .../07-postgresql-client-14_14.15-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-client-14 (14.15-0ubuntu0.22.04.1) ...
Selecting previously unselected package ssl-cert.
Preparing to unpack .../08-ssl-cert_1.1.2_all.deb ...
Unpacking ssl-cert (1.1.2) ...
Selecting previously unselected package postgresql-common.
Preparing to unpack .../09-postgresql-common_238_all.deb ...
Adding 'diversion of /usr/bin/pg_config to /usr/bin/pg_config.libpq-dev by postgresql-common'
Unpacking postgresql-common (238) ...
Selecting previously unselected package postgresql-14.
Preparing to unpack .../10-postgresql-14_14.15-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-14 (14.15-0ubuntu0.22.04.1) ...
Selecting previously unselected package postgresql.
Preparing to unpack .../11-postgresql_14+238_all.deb ...
Unpacking postgresql (14+238) ...
Selecting previously unselected package postgresql-contrib.
Preparing to unpack .../12-postgresql-contrib_14+238_all.deb ...
Unpacking postgresql-contrib (14+238) ...
Selecting previously unselected package sysstat.
Preparing to unpack .../13-sysstat_12.5.2-2ubuntu0.2_amd64.deb ...
Unpacking sysstat (12.5.2-2ubuntu0.2) ...
Setting up logrotate (3.19.0-1ubuntu1.1) ...
Created symlink /etc/systemd/system/timers.target.wants/logrotate.timer ‚Üí /lib/systemd/system/logrotate.timer.
Setting up libcommon-sense-perl:amd64 (3.75-2build1) ...
Setting up ssl-cert (1.1.2) ...
Setting up libtypes-serialiser-perl (1.01-1) ...
Setting up libjson-perl (4.04000-1) ...
Setting up netbase (6.3) ...
Setting up sysstat (12.5.2-2ubuntu0.2) ...

Creating config file /etc/default/sysstat with new version
update-alternatives: using /usr/bin/sar.sysstat to provide /usr/bin/sar (sar) in auto mode
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-collect.timer ‚Üí /lib/systemd/system/sysstat-collect.timer.
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-summary.timer ‚Üí /lib/systemd/system/sysstat-summary.timer.
Created symlink /etc/systemd/system/multi-user.target.wants/sysstat.service ‚Üí /lib/systemd/system/sysstat.service.
Setting up postgresql-client-common (238) ...
Setting up libjson-xs-perl (4.030-1build3) ...
Setting up postgresql-client-14 (14.15-0ubuntu0.22.04.1) ...
update-alternatives: using /usr/share/postgresql/14/man/man1/psql.1.gz to provide /usr/share/man/man1/psql.1.gz (psql.1.gz) in auto mode
Setting up postgresql-common (238) ...
Adding user postgres to group ssl-cert

Creating config file /etc/postgresql-common/createcluster.conf with new version
Building PostgreSQL dictionaries from installed myspell/hunspell packages...
Removing obsolete dictionary files:
Created symlink /etc/systemd/system/multi-user.target.wants/postgresql.service ‚Üí /lib/systemd/system/postgresql.service.
Setting up postgresql-14 (14.15-0ubuntu0.22.04.1) ...
Creating new PostgreSQL cluster 14/main ...
/usr/lib/postgresql/14/bin/initdb -D /var/lib/postgresql/14/main --auth-local peer --auth-host scram-sha-256 --no-instructions
The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.

The database cluster will be initialized with locale "en_US.UTF-8".
The default database encoding has accordingly been set to "UTF8".
The default text search configuration will be set to "english".

Data page checksums are disabled.

fixing permissions on existing directory /var/lib/postgresql/14/main ... ok
creating subdirectories ... ok
selecting dynamic shared memory implementation ... posix
selecting default max_connections ... 100
selecting default shared_buffers ... 128MB
selecting default time zone ... Etc/UTC
creating configuration files ... ok
running bootstrap script ... ok
performing post-bootstrap initialization ... ok
syncing data to disk ... ok
update-alternatives: using /usr/share/postgresql/14/man/man1/postmaster.1.gz to provide /usr/share/man/man1/postmaster.1.gz (postmaster.1.gz) in auto mode
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql-contrib (14+238) ...
Setting up postgresql (14+238) ...
Processing triggers for man-db (2.10.2-1) ...

In [3]:
!service postgresql start

 * Starting PostgreSQL 14 database server
   ...done.

In [4]:
!sudo -u postgres psql -c "ALTER USER postgres PASSWORD '006563';"

ALTER ROLE

In [5]:
!sudo -u postgres psql -c "CREATE DATABASE airbnb;"

CREATE DATABASE

In [6]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.10-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (4.9 kB)
Downloading psycopg2_binary-2.9.10-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 3.0/3.0 MB 34.7 MB/s eta 0:00:00
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.10

### Defining DB Schema

In [7]:
import psycopg2

# Connect to PostgreSQL
conn = psycopg2.connect(
    dbname="airbnb",
    user="postgres",
    password="006563",
    host="localhost"
)
cursor = conn.cursor()

# Check connection
cursor.execute("SELECT version();")
print(cursor.fetchone())

# Close cursor and connection
cursor.close()
conn.close()

('PostgreSQL 14.15 (Ubuntu 14.15-0ubuntu0.22.04.1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 11.4.0-1ubuntu1~22.04) 11.4.0, 64-bit',)

In [8]:
conn = psycopg2.connect(
    dbname="airbnb",
    user="postgres",
    password="006563",
    host="localhost"
)
cursor = conn.cursor()

# Create Listings Table
cursor.execute("""
CREATE TABLE listings (
    listing_id SERIAL PRIMARY KEY,
    name TEXT,
    host_id INTEGER,
    host_since DATE,
    host_location TEXT,
    host_response_time TEXT,
    host_response_rate TEXT,
    host_acceptance_rate TEXT,
    host_is_superhost BOOLEAN,
    host_total_listings_count INTEGER,
    host_has_profile_pic BOOLEAN,
    host_identity_verified BOOLEAN,
    neighbourhood TEXT,
    district TEXT,
    city TEXT,
    latitude DECIMAL(9,6),
    longitude DECIMAL(9,6),
    property_type TEXT,
    room_type TEXT,
    accommodates INTEGER,
    bedrooms INTEGER,
    amenities TEXT,
    price DECIMAL(10,2),
    minimum_nights INTEGER,
    maximum_nights INTEGER,
    review_scores_rating FLOAT,
    review_scores_accuracy FLOAT,
    review_scores_cleanliness FLOAT,
    review_scores_checkin FLOAT,
    review_scores_communication FLOAT,
    review_scores_location FLOAT,
    review_scores_value FLOAT,
    instant_bookable BOOLEAN
);

""")

# Create Reviews Table
cursor.execute("""
CREATE TABLE reviews (
    review_id SERIAL PRIMARY KEY,
    listing_id INTEGER REFERENCES listings(listing_id),
    date DATE,
    reviewer_id INTEGER
);
""")

conn.commit()
cursor.close()
conn.close()

### Data Import to Table from CSV

**Importing Data from Listings.csv to listings table using psql COPY command**

In [9]:
!sudo -u postgres psql -d airbnb

psql (14.15 (Ubuntu 14.15-0ubuntu0.22.04.1))
Type "help" for help.

airbnb=# COPY listings(     listing_id, name, host_id, host_since, host_location,     host_response_time, host_response_rate, host_acceptance_rate,     host_is_superhost, host_total_listings_count, host_has_profile_pic,     host_identity_verified, neighbourhood, district, city, latitude,     longitude, property_type, room_type, accommodates, bedrooms,     amenities, price, minimum_nights, maximum_nights, review_scores_rating,     review_scores_accuracy, review_scores_cleanliness, review_scores_checkin,     review_scores_communication, review_scores_location, review_scores_value,     instant_bookable ) FROM '/content/Listings.csv' WITH (FORMAT csv, HEADER true, ENCODING 'LATIN1');
COPY 279712
airbnb=# \q

**Cleaning Reviews.csv and then importing into reviews Table**

In [10]:
import pandas as pd

df_reviews = pd.read_csv("Reviews.csv", encoding="latin1")
df_reviews_clean = df_reviews.drop_duplicates(subset=['review_id'])
df_reviews_clean.to_csv("Reviews_clean.csv", index=False)

In [11]:
!sudo -u postgres psql -d airbnb

psql (14.15 (Ubuntu 14.15-0ubuntu0.22.04.1))
Type "help" for help.

airbnb=# COPY reviews(listing_id, review_id, date, reviewer_id) FROM '/content/Reviews_clean.csv' WITH (FORMAT csv, HEADER true, ENCODING 'LATIN1');
COPY 5372983
airbnb=# \q

**Verify Succesful Importing of Data**

In [12]:
conn = psycopg2.connect(
    dbname="airbnb",
    user="postgres",
    password="006563",
    host="localhost"
)
cursor = conn.cursor()

cursor.execute("SELECT * FROM listings LIMIT 5;")
print(cursor.fetchall())

cursor.execute("SELECT * FROM reviews LIMIT 5;")
print(cursor.fetchall())

cursor.close()
conn.close()

[(281420, 'Beautiful Flat in le Village Montmartre, Paris', 1466919, datetime.date(2011, 12, 3), 'Paris, Ile-de-France, France', None, None, None, False, 1, True, False, 'Buttes-Montmartre', None, 'Paris', Decimal('48.886680'), Decimal('2.333430'), 'Entire apartment', 'Entire place', 2, 1, '["Heating", "Kitchen", "Washer", "Wifi", "Long term stays allowed"]', Decimal('53.00'), 2, 1125, 100.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, False), (3705183, '39 m√É\x82√Ç¬≤ Paris (Sacre C√É\x85√¢\x80\x9cur)', 10328771, datetime.date(2013, 11, 29), 'Paris, Ile-de-France, France', None, None, None, False, 1, True, True, 'Buttes-Montmartre', None, 'Paris', Decimal('48.886170'), Decimal('2.345150'), 'Entire apartment', 'Entire place', 2, 1, '["Shampoo", "Heating", "Kitchen", "Essentials", "Washer", "Dryer", "Wifi", "Long term stays allowed"]', Decimal('120.00'), 2, 1125, 100.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, False), (4082273, 'Lovely apartment with Terrace, 60m2', 19252768, datetime.date(2014, 7, 31), 'Paris, Ile-de-France, France', None, None, None, False, 1, True, False, 'Elysee', None, 'Paris', Decimal('48.881120'), Decimal('2.317120'), 'Entire apartment', 'Entire place', 2, 1, '["Heating", "TV", "Kitchen", "Washer", "Wifi", "Long term stays allowed"]', Decimal('89.00'), 2, 1125, 100.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, False), (4797344, 'Cosy studio (close to Eiffel tower)', 10668311, datetime.date(2013, 12, 17), 'Paris, Ile-de-France, France', None, None, None, False, 1, True, True, 'Vaugirard', None, 'Paris', Decimal('48.845710'), Decimal('2.305840'), 'Entire apartment', 'Entire place', 2, 1, '["Heating", "TV", "Kitchen", "Wifi", "Long term stays allowed"]', Decimal('58.00'), 2, 1125, 100.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, False), (4823489, 'Close to Eiffel Tower - Beautiful flat : 2 rooms', 24837558, datetime.date(2014, 12, 14), 'Paris, Ile-de-France, France', None, None, None, False, 1, True, False, 'Passy', None, 'Paris', Decimal('48.855000'), Decimal('2.269790'), 'Entire apartment', 'Entire place', 2, 1, '["Heating", "TV", "Kitchen", "Essentials", "Hair dryer", "Washer", "Dryer", "Bathtub", "Wifi", "Elevator", "Long term stays allowed", "Cable TV"]', Decimal('60.00'), 2, 1125, 100.0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0, False)]
[(330265172, 11798, datetime.date(2018, 9, 30), 11863072), (330103585, 15383, datetime.date(2018, 9, 30), 39147453), (329985788, 16455, datetime.date(2018, 9, 30), 1125378), (330016899, 17919, datetime.date(2018, 9, 30), 172717984), (329995638, 26827, datetime.date(2018, 9, 30), 17542859)]

# Setting Up Hugging Face for NL-SQL Conversion

In [ ]:
from transformers import AutoTokenizer, AutoModelForSeq2SeqLM, pipeline
from langchain.llms import HuggingFacePipeline
from langchain.prompts import PromptTemplate
from langchain.chains import LLMChain

import torch

hf_token = "hf_EUGYZywXLymYWRpLVKtbClxEhUmkUgUkI"
# Set your model ID (you can change this to your chosen model)
model_id = "meta-llama/Meta-Llama-3.1-8B-Instruct"

# Load tokenizer and model
tokenizer = AutoTokenizer.from_pretrained(model_id)
model = AutoModelForSeq2SeqLM.from_pretrained(model_id)

# Create a Hugging Face text-to-text generation pipeline
pipe = pipeline(
    "text2text-generation",
    model=model,
    tokenizer=tokenizer,
    device=0 if torch.cuda.is_available() else -1,
    max_length=256,
    token=hf_token
)

# Wrap the pipeline with LangChain‚Äôs HuggingFacePipeline LLM
llm = HuggingFacePipeline(pipeline=pipe)

**Using Groq API instead of Hugging Face due limited Computational Resourses**

In [13]:
!pip install langchain-groq

Collecting langchain-groq
  Downloading langchain_groq-0.2.4-py3-none-any.whl.metadata (3.0 kB)
Collecting groq<1,>=0.4.1 (from langchain-groq)
  Downloading groq-0.18.0-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: langchain-core<0.4.0,>=0.3.33 in /usr/local/lib/python3.11/dist-packages (from langchain-groq) (0.3.33)
Requirement already satisfied: anyio<5,>=3.5.0 in /usr/local/lib/python3.11/dist-packages (from groq<1,>=0.4.1->langchain-groq) (3.7.1)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/local/lib/python3.11/dist-packages (from groq<1,>=0.4.1->langchain-groq) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /usr/local/lib/python3.11/dist-packages (from groq<1,>=0.4.1->langchain-groq) (0.28.1)
Requirement already satisfied: pydantic<3,>=1.9.0 in /usr/local/lib/python3.11/dist-packages (from groq<1,>=0.4.1->langchain-groq) (2.10.6)
Requirement already satisfied: sniffio in /usr/local/lib/python3.11/dist-packages (from groq<1,>=0.4.1->langchain-groq) (1.3.1)
Requirement already satisfied: typing-extensions<5,>=4.10 in /usr/local/lib/python3.11/dist-packages (from groq<1,>=0.4.1->langchain-groq) (4.12.2)
Requirement already satisfied: PyYAML>=5.3 in /usr/local/lib/python3.11/dist-packages (from langchain-core<0.4.0,>=0.3.33->langchain-groq) (6.0.2)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in /usr/local/lib/python3.11/dist-packages (from langchain-core<0.4.0,>=0.3.33->langchain-groq) (1.33)
Requirement already satisfied: langsmith<0.4,>=0.1.125 in /usr/local/lib/python3.11/dist-packages (from langchain-core<0.4.0,>=0.3.33->langchain-groq) (0.3.6)
Requirement already satisfied: packaging<25,>=23.2 in /usr/local/lib/python3.11/dist-packages (from langchain-core<0.4.0,>=0.3.33->langchain-groq) (24.2)
Requirement already satisfied: tenacity!=8.4.0,<10.0.0,>=8.1.0 in /usr/local/lib/python3.11/dist-packages (from langchain-core<0.4.0,>=0.3.33->langchain-groq) (9.0.0)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.11/dist-packages (from anyio<5,>=3.5.0->groq<1,>=0.4.1->langchain-groq) (3.10)
Requirement already satisfied: certifi in /usr/local/lib/python3.11/dist-packages (from httpx<1,>=0.23.0->groq<1,>=0.4.1->langchain-groq) (2025.1.31)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.11/dist-packages (from httpx<1,>=0.23.0->groq<1,>=0.4.1->langchain-groq) (1.0.7)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.11/dist-packages (from httpcore==1.*->httpx<1,>=0.23.0->groq<1,>=0.4.1->langchain-groq) (0.14.0)
Requirement already satisfied: jsonpointer>=1.9 in /usr/local/lib/python3.11/dist-packages (from jsonpatch<2.0,>=1.33->langchain-core<0.4.0,>=0.3.33->langchain-groq) (3.0.0)
Requirement already satisfied: orjson<4.0.0,>=3.9.14 in /usr/local/lib/python3.11/dist-packages (from langsmith<0.4,>=0.1.125->langchain-core<0.4.0,>=0.3.33->langchain-groq) (3.10.15)
Requirement already satisfied: requests<3,>=2 in /usr/local/lib/python3.11/dist-packages (from langsmith<0.4,>=0.1.125->langchain-core<0.4.0,>=0.3.33->langchain-groq) (2.32.3)
Requirement already satisfied: requests-toolbelt<2.0.0,>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from langsmith<0.4,>=0.1.125->langchain-core<0.4.0,>=0.3.33->langchain-groq) (1.0.0)
Requirement already satisfied: zstandard<0.24.0,>=0.23.0 in /usr/local/lib/python3.11/dist-packages (from langsmith<0.4,>=0.1.125->langchain-core<0.4.0,>=0.3.33->langchain-groq) (0.23.0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic<3,>=1.9.0->groq<1,>=0.4.1->langchain-groq) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.2 in /usr/local/lib/python3.11/dist-packages (from pydantic<3,>=1.9.0->groq<1,>=0.4.1->langchain-groq) (2.27.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2->langsmith<0.4,>=0.1.125->langchain-core<0.4.0,>=0.3.33->langchain-groq) (3.4.1)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2->langsmith<0.4,>=0.1.125->langchain-core<0.4.0,>=0.3.33->langchain-groq) (2.3.0)
Downloading langchain_groq-0.2.4-py3-none-any.whl (14 kB)
Downloading groq-0.18.0-py3-none-any.whl (121 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 121.9/121.9 kB 5.6 MB/s eta 0:00:00
Installing collected packages: groq, langchain-groq
Successfully installed groq-0.18.0 langchain-groq-0.2.4

In [14]:
import os

os.environ["GROQ_API_KEY"] = "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"

In [16]:
from langchain_groq import ChatGroq

# Initialize the Groq LLM with the specified model
llm = ChatGroq(
    model_name="llama-3.2-3b-preview",
    temperature=0.3
)

#Leveraging LangChain for Prompting

In [17]:
from langchain.prompts import PromptTemplate

### Zero Shot Prompt Template

In [19]:
zero_shot_prompt = PromptTemplate(
    input_variables=["schema", "question"],
    template="""
    You are an expert SQL generator.

    Given the following database schema with comments:
    {schema}

    Generate a **syntactically correct** SQL query for the following question:
    **Question:** {question}

    **Rules:**
    - Ensure the query aligns with the schema.
    - Use appropriate SQL functions and joins as needed.
    - Return only the SQL query.

    SQL Query:
    """
)

### Few Shot Prompt Template

In [20]:
few_shot_prompt = PromptTemplate(
    input_variables=["schema", "question"],
    template="""
    You are an expert SQL generator.

    Given the following database schema with comments:
    {schema}

    Here are examples of correct SQL queries based on similar questions:

    **Example 1:**
    **Question:** "What is the total number of reviews for each listing?"
    **SQL:**
    ```
    SELECT listing_id, COUNT(review_id) AS total_reviews
    FROM reviews
    GROUP BY listing_id;
    ```

    **Example 2:**
    **Question:** "Find the average review score rating for each listing."
    **SQL:**
    ```
    SELECT listing_id, AVG(review_scores_rating) AS avg_rating
    FROM listings
    GROUP BY listing_id;
    ```

    **Example 3:**
    **Question:** "Get the number of listings hosted by each host."
    **SQL:**
    ```
    SELECT host_id, COUNT(listing_id) AS total_listings
    FROM listings
    GROUP BY host_id;
    ```

    **Example 4:**
    **Question:** "Retrieve the latest review date for each listing."
    **SQL:**
    ```
    SELECT listing_id, MAX(date) AS latest_review_date
    FROM reviews
    GROUP BY listing_id;
    ```

    Now, generate a SQL query for the following question:
    **Question:** {question}

    SQL Query:
    """
)

### Chain-Of-Thought Prompt Template

In [21]:
cot_prompt = PromptTemplate(
    input_variables=["schema", "question"],
    template="""
    You are an expert SQL generator. Before writing the SQL query, think step-by-step.

    Given the following database schema with comments:
    {schema}

    **Question:** {question}

    ### **Step 1: Understanding the Request**
    - Identify the key entities involved in the query.
    - Determine the relationships between tables.
    - Identify necessary SQL operations (JOIN, GROUP BY, COUNT, etc.).

    ### **Step 2: Breaking Down the Query Construction**
    - Identify the base table to query from.
    - Determine which columns should be selected.
    - Identify necessary filtering, aggregation, or sorting conditions.

    ### **Step 3: Constructing the SQL Query**
    - Use the above reasoning to generate the correct SQL statement.

    SQL Query:
    """
)

### Self-Consistency Prompt Template

In [22]:
self_consistency_prompt = PromptTemplate(
    input_variables=["schema", "question"],
    template="""
    You are an expert SQL generator.

    Given the following database schema with comments:
    {schema}

    Generate **three different candidate SQL queries** for the following question:
    **Question:** {question}

    **Candidate 1:**
    SQL Query:

    **Candidate 2:**
    SQL Query:

    **Candidate 3:**
    SQL Query:

    Now, analyze the three queries and select the best one based on correctness and efficiency.

    **Final Selected SQL Query:**
    """
)

In [18]:
from langchain.chains import LLMChain

In [23]:
# Function to generate SQL using a specified prompt template
def generate_sql(question, schema, prompt_template):
    chain = LLMChain(llm=llm, prompt=prompt_template)
    return chain.run({"schema": schema, "question": question})

In [24]:
schema_description = """
-- Database Schema for Airbnb Data

-- Table: listings
-- Description: Contains detailed information about each Airbnb listing.
-- Columns:
--   listing_id (BIGINT): Unique identifier for each listing.
--   name (TEXT): Title or name of the listing.
--   host_id (BIGINT): Unique identifier for the host of the listing.
--   host_since (DATE): Date when the host began hosting.
--   host_location (TEXT): Geographic location of the host.
--   host_response_time (TEXT): Typical response time by the host.
--   host_response_rate (TEXT): Host‚Äôs response rate (expressed as a percentage in text format).
--   host_acceptance_rate (TEXT): Host‚Äôs acceptance rate (expressed as a percentage in text format).
--   host_is_superhost (BOOLEAN): Indicates if the host is a superhost (true/false).
--   host_total_listings_count (BIGINT): Total number of listings managed by the host.
--   host_has_profile_pic (BOOLEAN): Indicates whether the host has a profile picture.
--   host_identity_verified (BOOLEAN): Indicates whether the host‚Äôs identity is verified.
--   neighbourhood (TEXT): Neighbourhood where the listing is located.
--   district (TEXT): District in which the listing is located.
--   city (TEXT): City where the listing is located.
--   latitude (DECIMAL): Latitude coordinate of the listing.
--   longitude (DECIMAL): Longitude coordinate of the listing.
--   property_type (TEXT): Type of property (e.g., apartment, house, etc.).
--   room_type (TEXT): Type of room offered (e.g., entire home, private room, shared room).
--   accommodates (INTEGER): Maximum number of guests the listing can accommodate.
--   bedrooms (INTEGER): Number of bedrooms in the listing.
--   amenities (TEXT): Comma-separated list of amenities provided.
--   price (DECIMAL): Price per night.
--   minimum_nights (INTEGER): Minimum number of nights required for booking.
--   maximum_nights (INTEGER): Maximum number of nights allowed for booking.
--   review_scores_rating (FLOAT): Overall rating score.
--   review_scores_accuracy (FLOAT): Accuracy rating score.
--   review_scores_cleanliness (FLOAT): Cleanliness rating score.
--   review_scores_checkin (FLOAT): Check-in rating score.
--   review_scores_communication (FLOAT): Communication rating score.
--   review_scores_location (FLOAT): Location rating score.
--   review_scores_value (FLOAT): Value for money rating score.
--   instant_bookable (BOOLEAN): Indicates whether the listing supports instant booking.

-- Table: reviews
-- Description: Contains reviews submitted for listings.
-- Columns:
--   review_id (SERIAL PRIMARY KEY): Unique identifier for each review.
--   listing_id (INTEGER): Foreign key linking to listings(listing_id), representing which listing was reviewed.
--   date (DATE): Date when the review was posted.
--   reviewer_id (INTEGER): Unique identifier for the reviewer.
"""

**Simple Query**

In [25]:
# Let the user input their natural language query
user_query = input("Enter your natural language SQL query: ")

# Generate SQL using different prompting techniques
print("üîπ Zero-Shot Output:")
print(generate_sql(user_query, schema_description, zero_shot_prompt))

print("\nüîπ Few-Shot Output:")
print(generate_sql(user_query, schema_description, few_shot_prompt))

print("\nüîπ Chain-of-Thought Output:")
print(generate_sql(user_query, schema_description, cot_prompt))

print("\nüîπ Self-Consistency Output:")
print(generate_sql(user_query, schema_description, self_consistency_prompt))

Enter your natural language SQL query: What is the average price per night for all listings in the database?
üîπ Zero-Shot Output:

<ipython-input-23-ef4ed8c6aa23>:3: LangChainDeprecationWarning: The class `LLMChain` was deprecated in LangChain 0.1.17 and will be removed in 1.0. Use :meth:`~RunnableSequence, e.g., `prompt | llm`` instead.
  chain = LLMChain(llm=llm, prompt=prompt_template)
<ipython-input-23-ef4ed8c6aa23>:4: LangChainDeprecationWarning: The method `Chain.run` was deprecated in langchain 0.1.0 and will be removed in 1.0. Use :meth:`~invoke` instead.
  return chain.run({"schema": schema, "question": question})

```sql
SELECT AVG(price) AS average_price_per_night
FROM listings;
```

This SQL query calculates the average price per night for all listings in the database by selecting the `price` column and applying the `AVG` function. The result is aliased as `average_price_per_night` for clarity.

üîπ Few-Shot Output:
    **SQL Query:**
    ```sql
SELECT AVG(price) AS avg_price_per_night
FROM listings;
```

    This SQL query calculates the average price per night for all listings in the database by using the `AVG()` function on the `price` column. The result is a single row with a single column, `avg_price_per_night`, containing the average price per night for all listings.

üîπ Chain-of-Thought Output:
### Step 1: Understanding the Request

- The key entity involved in the query is the "listings" table.
- The relationship between tables is that the "reviews" table has a foreign key referencing the "listings" table.
- The necessary SQL operations required are to select the average price per night for all listings.

### Step 2: Breaking Down the Query Construction

- The base table to query from is the "listings" table.
- The columns that should be selected are the "price" column.
- There are no filtering, aggregation, or sorting conditions required.

### Step 3: Constructing the SQL Query

To calculate the average price per night for all listings, we can use the AVG() function in SQL. Since we are only interested in the "price" column, we will select only that column.

```sql
SELECT AVG(price) AS average_price
FROM listings;
```

This query will return the average price per night for all listings in the database. The AVG() function calculates the average of all values in the specified column, and the AS keyword is used to give an alias to the calculated column, making it easier to read and understand the results.

### Explanation:

- The AVG() function calculates the average of all values in the "price" column.
- The SELECT statement specifies the column(s) to be selected.
- The FROM clause specifies the table(s) to retrieve data from.
- The AS keyword is used to give an alias to the calculated column, making it easier to read and understand the results.

üîπ Self-Consistency Output:
Here are three different candidate SQL queries to find the average price per night for all listings in the database:

**Candidate 1:**
```sql
SELECT AVG(price) AS average_price
FROM listings;
```

**Candidate 2:**
```sql
SELECT AVG(l.price) AS average_price
FROM listings l;
```

**Candidate 3:**
```sql
SELECT AVG(CAST(price AS REAL)) AS average_price
FROM listings;
```

Now, let's analyze the three queries:

1.  **Candidate 1:** This query is straightforward and directly calculates the average price from the `price` column. It is efficient and easy to read.

2.  **Candidate 2:** This query is similar to Candidate 1 but uses an alias `l` for the `listings` table. It is also efficient and easy to read.

3.  **Candidate 3:** This query casts the `price` column to `REAL` before calculating the average. This is necessary because the `AVG` function in SQL requires numeric data types. However, this query might be slightly less efficient than the other two because it involves an additional cast operation.

Based on correctness and efficiency, I recommend **Candidate 1**:

```sql
SELECT AVG(price) AS average_price
FROM listings;
```

This query is simple, efficient, and easy to read. It directly calculates the average price from the `price` column without any additional operations.

**Little More complex Query**

In [26]:
# Let the user input their natural language query
user_query = input("Enter your natural language SQL query: ")

# Generate SQL using different prompting techniques
print("üîπ Zero-Shot Output:")
print(generate_sql(user_query, schema_description, zero_shot_prompt))

print("\nüîπ Few-Shot Output:")
print(generate_sql(user_query, schema_description, few_shot_prompt))

print("\nüîπ Chain-of-Thought Output:")
print(generate_sql(user_query, schema_description, cot_prompt))

print("\nüîπ Self-Consistency Output:")
print(generate_sql(user_query, schema_description, self_consistency_prompt))

Enter your natural language SQL query: For each property type, show the total number of listings and the average review score rating.
üîπ Zero-Shot Output:
```sql
SELECT
    property_type,
    COUNT(*) AS total_listings,
    AVG(review_scores_rating) AS average_review_score
FROM
    listings
GROUP BY
    property_type
ORDER BY
    property_type;
```

This SQL query generates the required output by grouping the listings by property type, counting the total number of listings for each type, and calculating the average review score rating for each type. The results are ordered by property type for easier reference.

üîπ Few-Shot Output:
  **SQL Query:**
  ```sql
SELECT
  property_type,
  COUNT(listing_id) AS total_listings,
  AVG(review_scores_rating) AS avg_rating
FROM
  listings
GROUP BY
  property_type;
```

This SQL query will return the total number of listings for each property type and the average review score rating for each property type.

üîπ Chain-of-Thought Output:
### Step 1: Understanding the Request

- Key entities involved: `listings` and `reviews`.
- Relationships between tables: `listings` has a foreign key `listing_id` referencing `reviews` (`review_id`).
- Necessary SQL operations: `GROUP BY`, `COUNT`, `AVG`.

### Step 2: Breaking Down the Query Construction

- Base table to query from: `listings`.
- Columns to select: `property_type`, `listing_id`.
- Filtering, aggregation, or sorting conditions:
  - Filter by `property_type`.
  - Group by `property_type`.
  - Count the number of listings for each `property_type`.
  - Calculate the average review score rating for each `property_type`.

### Step 3: Constructing the SQL Query

```sql
SELECT
  l.property_type,
  COUNT(l.listing_id) AS total_listings,
  AVG(r.review_scores_rating) AS avg_review_score
FROM
  listings l
  LEFT JOIN reviews r ON l.listing_id = r.listing_id
GROUP BY
  l.property_type
ORDER BY
  total_listings DESC;
```

### Explanation:

- We join the `listings` table with the `reviews` table on the `listing_id` column to link each listing with its reviews.
- We use a `LEFT JOIN` to include listings without reviews.
- We group the results by `property_type`.
- We count the number of listings (`total_listings`) for each `property_type`.
- We calculate the average review score rating (`avg_review_score`) for each `property_type`.
- We order the results by the total number of listings in descending order.

This query will provide the total number of listings and the average review score rating for each property type.

üîπ Self-Consistency Output:
Based on the provided database schema and question, I will generate three different candidate SQL queries.

**Candidate 1:**
```sql
SELECT
    property_type,
    COUNT(*) AS total_listings,
    AVG(review_scores_rating) AS avg_review_score
FROM
    listings
GROUP BY
    property_type;
```

**Candidate 2:**
```sql
SELECT
    l.property_type,
    COUNT(l.listing_id) AS total_listings,
    AVG(r.review_scores_rating) AS avg_review_score
FROM
    listings l
JOIN
    reviews r ON l.listing_id = r.listing_id
GROUP BY
    l.property_type;
```

**Candidate 3:**
```sql
SELECT
    property_type,
    COUNT(*) AS total_listings,
    AVG(review_scores_rating) AS avg_review_score
FROM
    listings l
JOIN
    reviews r ON l.listing_id = r.listing_id
GROUP BY
    l.property_type;
```

Now, let's analyze the three queries and select the best one based on correctness and efficiency.

**Analysis:**

1.  **Correctness:** All three queries are correct in terms of syntax and logic. They join the `listings` and `reviews` tables based on the `listing_id` column and group the results by the `property_type` column. However, Candidate 2 is slightly more accurate because it explicitly joins the tables, which can help prevent errors if the schema changes in the future.
2.  **Efficiency:** The efficiency of the queries can be evaluated based on the number of joins, the use of indexes, and the aggregation operations. Candidate 1 is the most efficient because it uses a single table (`listings`) and a simple `GROUP BY` clause. Candidate 2 and Candidate 3 both use a join, which can slow down the query. However, Candidate 2 uses a `JOIN` with an `ON` clause, which is more efficient than a correlated subquery used in Candidate 3.
3.  **Indexing:** To optimize the query further, it's essential to create indexes on the columns used in the `WHERE`, `JOIN`, and `GROUP BY` clauses. Specifically, indexes on the `listing_id` column in the `listings` table and the `listing_id` column in the `reviews` table can improve the query performance.

**Final Selected SQL Query:**

Based on the analysis, the final selected SQL query is:

```sql
SELECT
    l.property_type,
    COUNT(l.listing_id) AS total_listings,
    AVG(r.review_scores_rating) AS avg_review_score
FROM
    listings l
JOIN
    reviews r ON l.listing_id = r.listing_id
GROUP BY
    l.property_type;
```

This query is accurate, efficient, and well-structured. It joins the `listings` and `reviews` tables based on the `listing_id` column and groups the results by the `property_type` column. The use of a `JOIN` with an `ON` clause makes the query more efficient than a correlated subquery. Additionally, creating indexes on the `listing_id` columns in both tables can further improve the query performance.

# Evaluating the Generated SQL Queries

### Execute the Generated SQL Query

In [28]:
!pip install tabulate

Requirement already satisfied: tabulate in /usr/local/lib/python3.11/dist-packages (0.9.0)

In [30]:
import psycopg2
from tabulate import tabulate

def run_sql_query(query):
    try:
        # Connect to your PostgreSQL database
        conn = psycopg2.connect(
            dbname="airbnb",
            user="postgres",
            password="006563",  # Replace with your actual password
            host="localhost"
        )
        cursor = conn.cursor()

        # Execute the query
        cursor.execute(query)
        results = cursor.fetchall()

        # Fetch column names
        colnames = [desc[0] for desc in cursor.description]

        # Print the results in a tabular format similar to SQL output
        print(tabulate(results, headers=colnames, tablefmt="psql"))

        cursor.close()
        conn.close()
        return results

    except Exception as e:
        print("Error executing query:", e)
        return None

# Example: Run a generated query
generated_query = "SELECT AVG(price) AS average_price FROM listings;"
results = run_sql_query(generated_query)

+-----------------+
|   average_price |
|-----------------|
|         608.793 |
+-----------------+

### Verify Correctness